   .monitorar {
    background: none;
    width: 600px;
    border-radius: 3px;
    position: absolute;
    z-index: 5000;
    margin-left: auto;
    margin-right: auto;
    top: 151px;
    left: 0;
    right: 0;
    text-align: center;

    }
	
    .monitorar:hover {
	
        color: #ffd700;
    }
	
    .rastreio {
	
    background: #a00000;
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
    border: 1px solid #5d0000;
    color: white;
    cursor: pointer;
	
    }

    .rastreio:hover {
    
    background: #ff0000;

}

    .rastreio:before {

    content: "";
    font-family: icomoon;
    margin-right: 10px;
    font-size: 12px;

}
	
    input#OrderTracking {
	
    background: none;
    width: 228px;
    text-align: center;
    padding: 10px;
    padding-left: 0px;
    border-radius: 6px;
    border: 1px solid #710000;
    color: #b9b9b9;
	
    }